/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: oswald;
  src: url(./../../assets/fonts/oswald/Oswald-Medium.ttf);
}
@font-face {
  font-family: utendo;
  src: url(./../../assets/fonts/utendo/Utendo-ExtraBold.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* GLOBAL */
html {
  font-family: oswald;
  color: #e0e0e0;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: oswald;
  color: #e0e0e0;
  font-size: 40px;
}

/* EXTEND */
.body-works .main-works .swiffy-slider ul li .works-card, .body-index .main-index .container-section .container-index {
  background-color: #1f2023;
  border: #ffb74d 1px solid;
}

/* Transitions */
/* 2D TRANSITIONS */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Background Transitions */
/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px #1f2023;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffa726;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: black;
  border: black 2px solid;
}

.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Border Transitions*/
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffa726;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Ripple In */
@-webkit-keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
.hvr-ripple-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.hvr-ripple-in:before {
  content: "";
  position: absolute;
  border: #ffa726 solid 4px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.hvr-ripple-in:hover:before, .hvr-ripple-in:focus:before, .hvr-ripple-in:active:before {
  -webkit-animation-name: hvr-ripple-in;
  animation-name: hvr-ripple-in;
}

/* Shadow and Glow Transitions */
/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Entrances Animations */
.vanishIn {
  animation-name: vanishIn;
  animation-duration: 800ms;
}

@-webkit-keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}
@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}
.spaceInUp {
  -webkit-animation-name: spaceInUp;
  animation-name: spaceInUp;
  animation-duration: 800ms;
  animation-delay: 10ms;
}

@-webkit-keyframes spaceInUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(0.2) translate(0%, -200%);
    transform: scale(0.2) translate(0%, -200%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%);
  }
}
@keyframes spaceInUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(0.2) translate(0%, -200%);
    transform: scale(0.2) translate(0%, -200%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%);
  }
}
/* HEADER */
.header-bar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  margin-bottom: 15px;
}
.header-bar .bg-nav {
  background-color: #1f2023;
  border-bottom: #ffa726 solid 1px;
  font-size: 17px;
}
.header-bar .bg-nav .container-fluid .navbar-brand img {
  width: 100px;
}
.header-bar .bg-nav .container-fluid .button-iconfocus {
  box-shadow: none;
}
.header-bar .bg-nav .container-fluid .button-icon .nav-icon {
  background-image: url(./../images/hamburger-menu.svg);
}
.header-bar .bg-nav .container-fluid .menu {
  flex-grow: 0;
}
.header-bar .bg-nav .container-fluid .menu .list-nav {
  column-gap: 25px;
  text-align: center;
  font-weight: bold;
  padding-right: 15px;
}
.header-bar .bg-nav .container-fluid .menu .list-nav .nav-item .nav-link {
  color: rgba(158, 158, 158, 0.9647058824);
}
.header-bar .bg-nav .container-fluid .menu .list-nav .nav-item .nav-link:hover {
  color: #ffa726;
}

/* MAIN INDEX */
.body-index {
  background-image: url(./../assets/images/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.body-index .main-index .container-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.body-index .main-index .container-section .container-index {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  flex-direction: column;
  text-align: center;
  height: 570px;
  width: 400px;
  -webkit-box-shadow: 10px 10px 28px 23px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 10px 10px 28px 23px rgba(0, 0, 0, 0.66);
  box-shadow: 10px 10px 28px 23px rgba(0, 0, 0, 0.66);
}
.body-index .main-index .container-section .container-index h2 {
  border-top: #ffa726 1px solid;
  padding: 5px 0px;
  margin-bottom: 5px;
  color: #e0e0e0;
  font-size: 35px;
}
.body-index .main-index .container-section .container-index h3 {
  color: rgba(158, 158, 158, 0.9647058824);
  font-size: 1rem;
}
.body-index .main-index .container-section .container-index .contenedor-img img {
  height: 80%;
  width: 80%;
  padding: 15px 5px;
  border-radius: 170px;
  overflow: hidden;
}
.body-index .main-index .container-section .container-index .redes {
  height: 10px;
  width: 350;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: none;
  flex-direction: row;
}
.body-index .main-index .container-section .container-index .redes i {
  padding: 20px 0px;
  font-size: 30px;
  color: rgba(158, 158, 158, 0.9647058824);
}
.body-index .main-index .container-section .container-index .redes i:hover {
  color: #ffa726;
}
.body-index .main-index .container-btn-cv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 40px;
}
.body-index .main-index .container-btn-cv .bg-btn {
  border: 3px solid black;
  color: #ffa726;
  background-color: #1f2023;
  font-weight: bold;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.body-index .main-index .container-btn-cv .bg-btn:hover {
  color: #1f2023;
  font-weight: bold;
}
.body-index .main-index .container-btn-cv .modal .modal-dialog .modal-content {
  background-color: #1f2023;
}
.body-index .main-index .container-btn-cv .modal .modal-dialog .modal-content .modal-header {
  border-bottom: 1px solid #ffa726;
}
.body-index .main-index .container-btn-cv .modal .modal-dialog .modal-content .modal-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  flex-direction: row;
}
.body-index .main-index .container-btn-cv .modal .modal-dialog .modal-content .modal-body img {
  width: 460px;
}
.body-index .main-index .container-btn-cv .modal .modal-dialog .modal-content .modal-footer {
  background-color: #1f2023;
  border-top: 1px solid #ffa726;
}
.body-index .main-index .container-btn-cv .modal .modal-dialog .modal-content .modal-footer .btn-download {
  border: 2px solid black;
  color: #ffa726;
  background-color: #1f2023;
  border-radius: 0;
}
.body-index .main-index .container-btn-cv .modal .modal-dialog .modal-content .modal-footer .btn-download a {
  text-decoration: none;
  color: #ffa726;
  font-weight: 500;
  transition: 1s;
}
.body-index .main-index .container-btn-cv .modal .modal-dialog .modal-content .modal-footer .btn-download a:visited {
  color: #ffa726;
}
.body-index .main-index .container-btn-cv .modal .modal-dialog .modal-content .modal-footer .btn-download a:hover {
  text-decoration: none;
  font-weight: 500;
  color: #1f2023;
}
.body-index .main-index .container-btn-cv .modal .modal-dialog .modal-content .modal-footer .btn-download a:hover:visited {
  color: #1f2023;
}

/* MAIN HISTORY */
.body-history .main-history .timeline .timeline-item::after, .body-history .main-history .timeline .timeline-item::before {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}

.body-history {
  background: linear-gradient(to right, #1f2023, black);
  max-width: 100%;
}
.body-history .main-history {
  margin: 0px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
.body-history .main-history h1 {
  font-weight: bolder;
  margin-bottom: 25px;
}
.body-history .main-history .timeline {
  margin: 30px auto;
  padding: 0 10px;
  position: relative;
  transition: all 0.25s ease-in;
  width: 100%;
}
.body-history .main-history .timeline::before {
  background: rgba(224, 224, 224, 0.8784313725);
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 3px;
}
.body-history .main-history .timeline::after {
  clear: both;
  content: "";
  display: table;
  width: 100%;
}
.body-history .main-history .timeline a {
  color: rgba(224, 224, 224, 0.8784313725);
  font-weight: bold;
  transition: all 0.25s ease-in;
}
.body-history .main-history .timeline a:hover {
  box-shadow: 0 1px 0px 0px rgba(224, 224, 224, 0.8784313725);
  transition: all 0.25s ease-in;
}
.body-history .main-history .timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
.body-history .main-history .timeline .timeline-item .timeline-icon {
  background: rgba(224, 224, 224, 0.8784313725);
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin-left: -23px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50px;
}
.body-history .main-history .timeline .timeline-item .timeline-icon img,
.body-history .main-history .timeline .timeline-item .timeline-icon svg {
  left: 13px;
  position: relative;
  top: 11px;
}
.body-history .main-history .timeline .timeline-item .timeline-icon svg {
  top: 12px;
  font-size: 25px;
}
.body-history .main-history .timeline .timeline-item .timeline-content {
  padding: 20px;
  text-align: right;
  transition: all 0.25s ease-in;
  width: 45%;
  background: transparent;
}
.body-history .main-history .timeline .timeline-item .timeline-content p {
  color: rgba(224, 224, 224, 0.8784313725);
}
.body-history .main-history .timeline .timeline-item .timeline-content p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
}
.body-history .main-history .timeline .timeline-item .timeline-content .timeline-content-date {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
.body-history .main-history .timeline .timeline-item .timeline-content .timeline-content-month {
  font-size: rem-calc(14);
  text-transform: uppercase;
  font-weight: 400;
}
.body-history .main-history .timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

/* MAIN SKILLS */
.body-skills {
  background: linear-gradient(to right, #1f2023, black);
}
.body-skills .main-skills {
  margin-bottom: 20px;
}
.body-skills .main-skills section .container-skills {
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}
.body-skills .main-skills section .container-skills .sCard {
  -webkit-box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #292929;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}
.body-skills .main-skills section .container-skills .sCard:hover {
  height: 270px;
}
.body-skills .main-skills section .container-skills .sCard:hover .info {
  height: 90%;
}
.body-skills .main-skills section .container-skills .sCard:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}
.body-skills .main-skills section .container-skills .sCard:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}
.body-skills .main-skills section .container-skills .sCard:hover .icon svg {
  color: #FFa726;
  font-size: 25px;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}
.body-skills .main-skills section .container-skills .sCard .icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(90deg, #ffa726 0%, #915904 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1f2023;
  transition: all 0.8s ease;
  font-size: 25px;
  background-position: 0px;
  background-size: 200px;
}
.body-skills .main-skills section .container-skills .sCard .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.body-skills .main-skills section .container-skills .sCard .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

/* MAIN WORKS*/
.body-works {
  background: linear-gradient(to right, #0d0d0d, #131314);
}
.body-works .main-works .swiffy-slider ul li .works-card {
  border: #ffb74d 2px solid;
}
.body-works .main-works .swiffy-slider ul li .works-card .work-card-header img {
  padding: 25px;
}
.body-works .main-works .swiffy-slider ul li .works-card .card-body .card-title {
  color: #ffb74d;
}
.body-works .main-works .swiffy-slider ul li .works-card .card-body .work-tech {
  font-size: 25px;
  padding: 15px;
  color: #e0e0e0;
}
.body-works .main-works .swiffy-slider ul li .works-card .card-body .div-btn-works a {
  background-color: #1f2023;
  color: #ffb74d;
  border: black 2px solid;
  font-weight: bold;
  border-radius: 0;
}
.body-works .main-works .swiffy-slider ul li .works-card .card-body .div-btn-works a:hover {
  color: black;
  border: black solid 2px;
  font-weight: bold;
  border-radius: 0%;
}

/* MAIN CONTACT */
.body-contact {
  background: linear-gradient(to right, #1f2023, black);
}
.body-contact .main-contact section .form-contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 25px;
}
.body-contact .main-contact section .form-contact .form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  padding: 15px;
}
.body-contact .main-contact section .form-contact .form-container .submit-btn {
  width: 100px;
  text-align: center;
  --color: #ffa726;
  padding: 0.8em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}
.body-contact .main-contact section .form-contact .form-container .submit-btn::before, .body-contact .main-contact section .form-contact .form-container .submit-btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}
.body-contact .main-contact section .form-contact .form-container .submit-btn::before {
  top: -1em;
  left: -1em;
}
.body-contact .main-contact section .form-contact .form-container .submit-btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.body-contact .main-contact section .form-contact .form-container .submit-btn:hover {
  filter: brightness(0.9);
  color: rgb(10, 25, 30);
}
.body-contact .main-contact section .form-contact .form-container .submit-btn:hover::before, .body-contact .main-contact section .form-contact .form-container .submit-btn:hover::after {
  height: 410px;
  width: 410px;
}
.body-contact .main-contact section .form-contact .form-container .textarea-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 10px;
  width: 100%;
}
.body-contact .main-contact section .form-contact .form-container .textarea-group .textarea-input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  width: 80%;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.body-contact .main-contact section .form-contact .form-container .textarea-group .textarea-input:valid, .body-contact .main-contact section .form-contact .form-container .textarea-group .textarea-input:focus {
  outline: none;
  border: 1.5px solid #ffa726;
}
.body-contact .main-contact section .form-contact .form-container .textarea-group .textarea-input:valid ~ label, .body-contact .main-contact section .form-contact .form-container .textarea-group .textarea-input:focus ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: rgba(20, 21, 23, 0.9333333333);
  padding: 0 0.2em;
  color: #ffa726;
  font-style: italic;
}
.body-contact .main-contact section .form-contact .form-container .textarea-group .user-label {
  position: absolute;
  left: calc(12% + 8px);
  top: 8px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.body-contact .main-contact section .form-contact .form-container .input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 10px;
}
.body-contact .main-contact section .form-contact .form-container .input-group .input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  width: 80%;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.body-contact .main-contact section .form-contact .form-container .input-group .input:valid, .body-contact .main-contact section .form-contact .form-container .input-group .input:focus {
  outline: none;
  border: 1.5px solid #ffa726;
}
.body-contact .main-contact section .form-contact .form-container .input-group .input:valid ~ label, .body-contact .main-contact section .form-contact .form-container .input-group .input:focus ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: rgba(20, 21, 23, 0.9333333333);
  padding: 0 0.2em;
  color: #ffa726;
  font-style: italic;
}
.body-contact .main-contact section .form-contact .form-container .input-group .user-label {
  position: absolute;
  left: calc(12% + 8px);
  top: 8px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */
footer {
  padding: 10px;
  text-align: center;
  margin-top: auto;
  background-color: #1f2023;
  border-top: #ffb74d 1px solid;
}
footer .container-footer p {
  color: #979292;
}

/* Media query */
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .body-skills .main-skills section .container-skills {
    grid-template-columns: 1fr 1fr;
  }
}
/* mobiles */
@media only screen and (min-width: 471px) and (max-width: 767px) {
  .main-index .container-section .container-index {
    width: 370px;
  }
  .main-history .timeline::after {
    left: 31px;
  }
  .main-history .timeline .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .main-history .timeline .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .main-history .timeline .tl-left::after {
    left: 15px;
  }
  .main-history .timeline .tl-right {
    left: 0%;
  }
  .main-history .timeline .tl-rightafter {
    left: 15px;
  }
  .body-skills .main-skills section .container-skills {
    grid-template-columns: 1fr;
  }
}
/* small mobiles */
@media only screen and (min-width: 320px) and (max-width: 470px) {
  .main-index .container-section .container-index {
    width: 80%;
  }
  .main-index .container-section .container-index .contenedor-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-index .container-btn-cv .modal .modal-dialog .modal-content .modal-body img {
    width: 270px;
  }
  .main-history .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;
  }
  .main-history .timeline::before {
    left: 0;
  }
  .main-history .timeline .timeline-item .timeline-content {
    float: right;
    text-align: left;
    width: 90%;
  }
  .main-history .timeline .timeline-item .timeline-content::before, .main-history .timeline .timeline-item .timeline-content.right::before {
    border-left: 0;
    border-right: 7px solid rgba(224, 224, 224, 0.8784313725);
    left: 10%;
    margin-left: -6px;
  }
  .main-history .timeline .timeline-icon {
    left: 0;
  }
  .body-skills .main-skills section .container-skills {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
