@font-face {
    font-family: oswald;
    src: url(./../oswald/Oswald-Medium.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: oswald;
    background-color: #1f2023;
    color: #e0e0e0;
}

/* GENERAL */
/* HEADER */
body {
    background-color: #1f2023;
}
.header-bar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    margin-bottom: 15px;
}

.bg-nav {
    background-color: #1f2023;
    border-bottom: #ffa726 solid 1px;
    font-size: 17px;
}

.menu {
    flex-grow: 0;
}

.list-nav {
    column-gap: 15px;
}

.list-nav {
    text-align: center;
    font-weight: bold;
}

.list-nav li a{
    color: #9e9e9ef6;
}

.list-nav li a:hover{
    color: #ffa726;
    text-decoration: underline;
}

.button-icon:focus{
    box-shadow: none;
}

.nav-icon {
    background-image: url(./../images/hamburger-menu.svg);
}

footer {
    text-align: center;
    border-top: #ffa726 solid 1px;
    margin-top: 10px;
    padding: 15px 0px 0px 10px;
}

/* INDEX PAGE */
/* index card */
.container-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-index {
    margin-top: 50px;
    background-color: #1f2023;
    border: #ffa726 1px solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 570px;
    width: 400px;
    -webkit-box-shadow: 10px 10px 28px 23px rgba(0,0,0,0.66);
    -moz-box-shadow: 10px 10px 28px 23px rgba(0,0,0,0.66);
    box-shadow: 10px 10px 28px 23px rgba(0,0,0,0.66);
}

.container-index h1 {
    border-top: #ffa726 1px solid;
    padding: 5px 0px;
    margin-bottom: 5px;
    font-size: 35px;
}

.container-index h2 {
    color: #9e9e9ef6;
    font-size: 1rem;
}

#contenedor-img img {
    height: 80%;
    width: 80%;
    padding: 15px 5px;
    border-radius: 170px;
    overflow: hidden;
}

/* social link icons */
.redes {
    height: 10px;
    width: 350;
    display: flex;
    justify-content: space-around;
}

.redes i {
    padding: 20px 0px;
    font-size: 30px;
}

.redes i:hover {
    color: #ffa726;
    font-size: 35px;
}

/* cv button */
 .container-btn-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
 }

 .bg-btn {
    border: 2px solid black;
    color: #ffa726;
    background-color: #1f2023;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 }

 .bg-btn:hover {
    border: 2px solid black;
    text-decoration: underline;
    color: #ffa726;
    background-color: #1f2023;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
 }

 .modal-header {
    border: 1px solid #ffa726;
 }

 .modal-content {
    border: 1px solid #ffa726;
 }

 .modal-body {
    display: flex;
    justify-content: center;
 }
 .modal-body img{
    width: 460px;
 }

 .modal-footer {
    background-color: #1f2023;
    border-top: 1px solid #ffa726;
 }
/* HISTORY PAGE */
#main-history {
    margin: 0px;
    padding: 20px;
    text-align: center;
}

.navbar-brand img {
    height: 80px;
}

/* history grid */
main h1 {
    text-align: center;
    font-weight: bold;
    color: #ffa82665;
    text-decoration: underline;
}

.grid-container {
    background-color: #1f2023;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    padding: 25px;
}

.history-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 25px;
    border: 1px solid #e0e0e0;
}

.history-header img {
    width: 50%;
    height: auto;
}

.history-body {
    border: 1px double #e0e0e0;
    text-align: center;
}

.history-body p {
    color: lightslategray;
    font-size: 2vh;
}

.history-body h2 {
    font-size: 4vh;
    font-weight: bold;
}

.history-body h3 {
    color: lightslategray;
    font-size: 3vh;
}

/* Skills Page */
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:  20px;
    row-gap: 15px;
    padding: 25px;
    margin: 20px 0 40px 0;
}

.header-wcard {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wcard img {
    width: 200px;
    height: auto;
}

.work-card h2 {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.progress {
    background-color: #9e9e9ef6;
    border: 1px solid black;
}
.progress-bar {
    background-color: #ffa726;
    color: #1f2023;
    border-right: 1px solid black;
}
/* Contact Page */
.formcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.mb-3 {
    width: 60%;
}

.btn-submit {
    background-color: #ffa726;
    border: #9e9e9ef6;
}

.btn-submit:hover {
    background-color: #ffa8267a;
}

/* Media query */
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* grid history page */
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 70px;
    }

    /* grid skills page */
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobiles */
@media only screen and (min-width: 471px) and (max-width: 767px) {
    /* index page */
    .container-index {
        width: 370px;
    }

    /* grid history page */
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* grid skills page */
    .cards-container {
        grid-template-columns: 1fr;
    }
}

/* small mobiles */
@media only screen and (min-width: 320px) and (max-width: 470px) {
    /* index page */
    .container-index {
        width: 80%;
    }

    #contenedor-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-body img {
        width: 270px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    /* grid skills page */
    .cards-container {
        grid-template-columns: 1fr;
    }
}
