/* MAIN CONTACT */

.main-contact {
    .formcontainer {
        @include flex(wrap, center, center, column);
        margin-bottom: 50px;  
        .mb-3 {
            width: 60%;
            .form-label {
                color: black;
                font-weight: bold;
                font-size: 20px;
            }
        } 
        .col-auto {
            .btn-submit {
                background-color: #ffa826d2;
                border: 2px solid black;
                border-radius: 0%;
                color: black;  
                font-weight: bold;
                &:hover {
                    border: 2px solid black;
                    color: #1f2023;
                    transition: all 800ms;
                    font-weight: bold;
                }
            }
        }
    }
}
