/* MAIN INDEX */
.body-index {
    background-image: url(./../assets/images/background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .main-index {
        .container-section {
            @include flex(wrap, center, center, row);
            .container-index {
                margin-top: 50px;
                @extend %bg-border;
                @include flex(wrap, none, none, column);
                text-align: center;
                height: 570px;
                width: 400px;
                -webkit-box-shadow: 10px 10px 28px 23px rgba(0,0,0,0.66);
                -moz-box-shadow: 10px 10px 28px 23px rgba(0,0,0,0.66);
                box-shadow: 10px 10px 28px 23px rgba(0,0,0,0.66);
                h2 {
                    border-top: $orange-color 1px solid;
                    padding: 5px 0px;
                    margin-bottom: 5px;
                    color: $white-color;
                    font-size: 35px;    
                }
                h3 {
                    color: #9e9e9ef6;
                    font-size: 1rem;
                }
                .contenedor-img {
                    img {
                        height: 80%;
                        width: 80%;
                        padding: 15px 5px;
                        border-radius: 170px;
                        overflow: hidden;
                    }
                }
                .redes {
                    height: 10px;
                    width: 350;
                    @include flex(wrap, space-around, none, row);
                    i {
                        padding: 20px 0px;
                        font-size: 30px;
                        color: #9e9e9ef6;
                        &:hover {
                            color: $orange-color;
                        }                  
                    }
                }
            }
        }
        .container-btn-cv {
            @include flex(wrap, center, center, row);
            padding: 40px;
            .bg-btn {
                border: 3px solid black;
                color: $orange-color;
                background-color: $gray-background;
                font-weight: bold;
                -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                &:hover {
                    color: $gray-background;
                    font-weight: bold;
                }
            }
            .modal {
                .modal-dialog {
                    .modal-content {
                        background-color: $gray-background;
                        .modal-header {
                            border-bottom: 1px solid $orange-color;
                        }
                        .modal-body {
                            @include flex(nowrap, center, none, row);
                            // display: flex;
                            // justify-content: center;
                            img {
                                width: 460px;
                            }
                        }
                        .modal-footer {
                            background-color: $gray-background;
                            border-top: 1px solid $orange-color;
                            .btn-download {
                                border: 2px solid black;
                                color: $orange-color;
                                background-color: $gray-background;
                                border-radius: 0;
                                a {
                                    text-decoration: none;
                                    color: $orange-color;
                                    font-weight: 500;
                                    transition: 1s;
                                    &:visited {
                                        color: $orange-color;
                                    }
                                    &:hover {
                                        text-decoration: none;
                                        font-weight: 500;
                                        color: $gray-background;
                                        &:visited {
                                            color: $gray-background;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}