/* MAIN WORKS*/
.body-works {
    background: linear-gradient(to right, #0d0d0d, #131314);
    .main-works {
        .swiffy-slider {
            ul {
                li {
                    .works-card {
                        @extend %bg-border;
                        border: $works-color 2px solid;
                        .work-card-header {
                            img {
                                padding: 25px;
                            }
                        }
                        .card-body {
                            .card-title {
                                color: $works-color;
                            }
                            .work-tech {
                                font-size: 25px;
                                padding: 15px;   
                                color: $white-color; 
                            }
                            .div-btn-works {
                                a {
                                    background-color: $gray-background;
                                    color: $works-color;
                                    border: black 2px solid;  
                                    font-weight: bold;
                                    border-radius: 0; 
                                    &:hover {
                                        color: black;
                                        border: black solid 2px;    
                                        font-weight: bold;
                                        border-radius: 0%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}