/* MAIN SKILLS*/

.main-skills {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap:  20px;
        row-gap: 15px;
        padding: 25px;
        .skills-card {
            background-color: #2A3439;
            border: #ffa726 2px solid;
            padding: 25px;
            color: #fffff0;
            border-radius: 50px;
            opacity: 0.88;
            .header-scard{
                height: 170px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 200px;
                    height: auto; 
                }
                svg {
                    font-size: 100px;
                }
            }
            h2 {
                font-size: 20px;
                text-align: center;
                font-weight: bold;
                padding: 5px;
            }
            h3 {
                color: grey;
                text-align: center;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
}