/* GLOBAL */

html {
    font-family: oswald;
    color: #e0e0e0;
}

body {
    background-image: url(./../images/background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: utendo;
    /** TEXT GRADIENT */
    color: #e6623d;
    background-image: -webkit-linear-gradient(0deg, #e6623d 3%, #8bc007 98%, #e6504a 36%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}