/* Media query */
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .body-skills {
        .main-skills {
            section {
                .container-skills {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}

/* mobiles */
@media only screen and (min-width: 471px) and (max-width: 767px) {
    .main-index {
        .container-section {
            .container-index {
                width: 370px;
            }
        }
    }

    .main-history {
        .timeline {
            &::after {
                left: 31px;
            }
            .timeline-container {
                width: 100%;
                padding-left: 70px;
                padding-right: 25px;  
                &::before {
                    left: 60px;
                    border: medium solid white;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent white transparent transparent;   
                }
            }
            .tl-left {
                &::after {
                    left: 15px;
                }
            }
            .tl-right {
                left: 0%;
                &after {
                    left: 15px;
                }
            }
        }
    }

    .body-skills {
        .main-skills {
            section {
                .container-skills {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

/* small mobiles */
@media only screen and (min-width: 320px) and (max-width: 470px) {
    .main-index {
        .container-section {
            .container-index {
                width: 80%;
                .contenedor-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .container-btn-cv {
            .modal {
                .modal-dialog {
                    .modal-content {
                        .modal-body {
                            img {
                                width: 270px;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-history {
        .timeline {
            margin: 30px;
            padding: 0;
            width: 90%;  
            &::before {
                left: 0;
            }
            .timeline-item {
                .timeline-content {
                    float: right;
                    text-align: left;
                    width: 90%;
                    &::before,
                    &.right::before {
                    border-left: 0;
                    border-right: 7px solid $timeline-color;
                    left: 10%;
                    margin-left: -6px;
                    }
                }
            }
            .timeline-icon {
                left: 0;
            }
        }
    }

    .body-skills {
        .main-skills {
            section {
                .container-skills {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}