/* RESET */
@font-face {
    font-family: oswald;
    src: url(./../../assets/fonts/oswald/Oswald-Medium.ttf);
}

@font-face {
    font-family: utendo;
    src: url(./../../assets/fonts/utendo/Utendo-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}