$white-color: #e0e0e0;
$gray-background: #1f2023;
$orange-color: #ffa726;

// History variables
$timeline-color: #e0e0e0e0;
$timeline-transition: all 0.25s ease-in;
$timeline-item-card-bg: #e0e0e0e0;
$timeline-item-font-color: #e0e0e0e0;
$timeline-item-card: false;

// Works variables
$works-color: #ffb74d;