/* FOOTER */
footer {
    padding: 10px;
    text-align: center;
    // margin-top: auto;
    background-color: #1f2023;
    border-top: #ffb74d 1px solid;
    .container-footer {
        p {
            color: #979292;
        }
    }
}
